
*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    color: #303030;
}
/* background color for all pages */
.background{
    background-color: #F8F6F1;
}
.normal-text{
    text-align: center;
    font-size: 20px;
}
.flex{
    display: flex;
}
/* centers vertically */
.items-center{
    align-items: center;
}
/* centers horizontally */
.items-justify{
    justify-content: space-between;
}
/* for all buttons */
.btn{
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
/* for all big buttoons */
.btn-bg{
    padding: 15px 25px;
}
/* for all small buttons */
.btn-sm{
    font-size: 12px;
    padding: 8px 15px;
}
/* for all dark buttons */
.btn-dark{
    background-color: #4e4e4e;
}
.btn-red{
    background-color:rgb(199, 5, 5);
}
.btn-blue{
  background-color: blue;
}

.btn-green{
  background-color: rgb(2, 102, 2);
  
}
/* HOME PAGE */
/* margin-top-right-bottom-left */
.nav{
    margin:20px 160px 15px 80px;
}
.logo-img{
    align-items: center;
    margin-left:50px ;
}
  /* for sign up and login dropdown */
.signup-container {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .signup-select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f9f9f9;
    font-size: 18px;
  }
  .signup-container:hover .dropdown-content {
    display: block;
  }
/* whole mid section of landing page */
.main-section{
    margin-left: 150px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 30px;
}
/* left part of hero image */
.hero-section{
    height: 400px;
    width: 400px;
    margin-top:40px ;
    margin-right:50px ;
}

/* main heading */
.hero-text{
    font-family: 'Forum', display;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom:20px ;
}
.learn{
    margin-top:60px ;
    margin-left:100px ;
}
/* main image from home page */
.hero-img{
    height: 500px;
    width: 580px;
    border-radius: 4px;
}
.featured-box{
    flex-wrap: wrap;
    margin: 60px 80px;
    margin-bottom: 80px;
}
.ft-img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
}
/* two buttons from home page */
.buttons{
    margin-left:420px ;
    margin-bottom: 40px;
}
/* For forms */
.f-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-heading{
    font-family: 'Fraunces', serif;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.form {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type="text"], input[type="email"], input[type="password"],input[type="file"],input[type="date"]
  .select
  {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(19, 11, 11);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
  }
  input[type="date"]
  {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(19, 11, 11);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
  }
  /* dashboard  */
  .grid{
    display: grid;
  }
  .grid-cols-4{
    grid-template-columns: repeat(4, minmax(0,1fr));
  }
  .col-span-3{
    grid-column: span 3/ span 3;
  }
  .gap-4{
    gap:1 rem;
  }
  
/*  adding style to display profile name */
.profile-name{
  background-color: rgb(189, 128, 128);
  text-transform: capitalize;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  color: #F8F6F1;
}

/* styling menu items */
.menu-items{
  background-color: white;
  padding: 20px 50px;
  margin-top: 0;
  margin-right:50px ;
  border-radius: 5px;
  display: inline-block;
}
.menu-item{
  font-size: 20px;
  margin-bottom: 12px;
}
/* styling lawyer page */
.lawyer-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-left: 0px;
}
.lawyer-info{
  margin-bottom: 30px;
  font-size: 22px;
}
a:link{
  text-decoration: none;
}
a:hover{
  font-weight: bold;
}
/* style for message sent by a client to lawyer for lawyers page */
.request-box{
  background-color: antiquewhite;
  padding: 20px;
  margin-bottom: 15px;
  margin-right: 350px;
  font-size: 20px;
  border-radius: 8px;
}

/* lawyers display for clients */
.display-section{
  margin-top: 20px;
  margin-right: 100px;
}
.lawyers-display{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows:200px 200px ;
  /* gap: 20px; */
  row-gap: 150px;
  column-gap:35px
}
/* form for booking appointments */
.overlay {
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 5%;
  left: 30%;
  background-color: rgb(189, 128, 128);
  height: fit-content;
  width: 500px;
}

textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.hidden {
  display: none;
}

.msg-form {
  position: relative;
  padding: 0 30px;
}

.form-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 5px 10px;
  background-color:rgb(199, 5, 5);
  color: white;
  border-radius: 50%;
  font-family: sans-serif;
}

.success-message {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 3px;
  font-weight: bold;
  }
.failed-message {
  margin-top: 10px;
  background-color:red;
  color: white;
  padding: 15px;
  text-align: center;
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 3px;
  font-weight: bold;
}
.table-container {
  margin: 20px auto;
  margin-left: 100px;
  /* width: 80%; */
}

.table-container table {
  /* width: 80%; */
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table-container th,
.table-container td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}